	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/11/2016 10:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-air-conditioning:before { content: "\f100"; }
.flaticon-alarm-clock:before { content: "\f101"; }
.flaticon-blender:before { content: "\f102"; }
.flaticon-blender-1:before { content: "\f103"; }
.flaticon-blender-2:before { content: "\f104"; }
.flaticon-coffee-maker:before { content: "\f105"; }
.flaticon-curler:before { content: "\f106"; }
.flaticon-dishwasher:before { content: "\f107"; }
.flaticon-epilator:before { content: "\f108"; }
.flaticon-extractor:before { content: "\f109"; }
.flaticon-fan:before { content: "\f10a"; }
.flaticon-food-steamer:before { content: "\f10b"; }
.flaticon-fridge:before { content: "\f10c"; }
.flaticon-hair-clipper:before { content: "\f10d"; }
.flaticon-hairdryer:before { content: "\f10e"; }
.flaticon-iron:before { content: "\f10f"; }
.flaticon-juicer:before { content: "\f110"; }
.flaticon-kettle:before { content: "\f111"; }
.flaticon-lamp:before { content: "\f112"; }
.flaticon-meat-grinder:before { content: "\f113"; }
.flaticon-microwave-oven:before { content: "\f114"; }
.flaticon-mixer:before { content: "\f115"; }
.flaticon-mixer-1:before { content: "\f116"; }
.flaticon-multicooker:before { content: "\f117"; }
.flaticon-music-player:before { content: "\f118"; }
.flaticon-music-speaker:before { content: "\f119"; }
.flaticon-oven:before { content: "\f11a"; }
.flaticon-photo-camera:before { content: "\f11b"; }
.flaticon-printer:before { content: "\f11c"; }
.flaticon-refrigerator:before { content: "\f11d"; }
.flaticon-sewing-machine:before { content: "\f11e"; }
.flaticon-shaver:before { content: "\f11f"; }
.flaticon-stove:before { content: "\f120"; }
.flaticon-telephone:before { content: "\f121"; }
.flaticon-television:before { content: "\f122"; }
.flaticon-toaster:before { content: "\f123"; }
.flaticon-toothbrush:before { content: "\f124"; }
.flaticon-vacuum-cleaner:before { content: "\f125"; }
.flaticon-vacuum-cleaner-1:before { content: "\f126"; }
.flaticon-washing-machine:before { content: "\f127"; }